#sleep-card {
  background-color: lightgray;
  border-radius: 10px;
  width: 80vw;
  height: 25vh;
  margin: 0 auto;
  margin-bottom: 40px;
  color: black;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 0; */
  box-shadow: 0px 0px 5px black;
}

/* #sleep-card:last-of-type {
  margin-bottom: 40px;
} */

#sleep-card-title h5 {
  /* color: red; */
  margin: 0 auto;
  width: fit-content;
  background-color: rgba(224, 226, 219, 0.8);
  border-radius: 5px;
  /* text-shadow: 1px 1px 4px #E0E2DB; */
  font-size: 1.6rem;
  /* display: flex;
  justify-content: center; */
}

#sleep-card-date-rating p {
  background-color: #E0E2DB;
  /* color: white; */
  margin: 0;
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}
