#sleep-details-btns button {
  width: 100px;
  height: 40px;
  font-size: 1.4rem;
  margin: 0 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px black;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  font-family: "Raleway", sans-serif;
}

#sleep-delete-btn {
  background-color: rgba(214, 73, 51, 0.8);
}

#sleep-edit-btn {
  background-color: rgba(88, 164, 176, 0.8);
}

#sleep-details-container {
  background-color: rgba(10, 10, 10, 0.8);
  border: 1px solid white;
  margin: 0 20px;
  text-align: left;
  padding: 0 15px;
}


#sleep-details-title {
  font-size: 1.4rem;
  text-align: center;
}

#sleep-details-notes p{
  margin-top: 5px;
  margin-bottom: 20px;
  word-break: break-word;
  white-space: pre-wrap;
}

#sleep-details-notes h3 {
  margin: 0;
}

#sleep-details-div {
  padding-bottom: 80px;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen AND (min-width: 600px) {
  #sleep-details-div {
    display: flex;
    justify-content: center;
  }

  #sleep-details-container {
    width: 75vw;
  }
}

/* =========== MEDIA QUERIES (LARGE DEVICES) ========== */
@media screen AND (min-width: 1024px) {
  #sleep-details-container {
    width: 50vw;
  }
  
}

/* =========== MEDIA QUERIES (XL DEVICES) ========== */
@media screen AND (min-width: 1800px) {
  #sleep-details-container {
    width: 40vw;
  }
}