#sleep-logs-title {
  margin-bottom: 20px;
}

#add-sleep-btn-sleep-list {
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 1.4rem;
  background-color: rgba(199, 170, 255, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  border: 2px solid #ffffff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px black;
}

#sleep-card-sleep-list:last-of-type {
  padding-bottom: 60px;
  height: 100%;
}