#add-sleep-title-container {
  /* color: red; */
  /* font-size: 1.4rem; */
  margin-bottom: 10px;
  /* font-weight: 700; */
}

#add-sleep-title {
  font-size: 1.2rem;
  width: 50vw;
  /* margin-bottom: 10px; */
}

#add-sleep-date-container {
  margin-bottom: 10px;
}

#add-sleep-date {
  font-size: 1.2rem;
  width: 55vw;
}

#add-sleep-rating-container {
  margin-bottom: 10px;
}

#add-sleep-rating {
  width: 30vw;
  font-size: 1.2rem;
  /* text-align: right; */
}

#add-sleep-notes {
  margin: 5px auto;
  /* margin-top: 10px; */
  /* white-space: pre-wrap; */
}