#journal-card {
  background-color: lightgray;
  border-radius: 10px;
  width: 80vw;
  height: 25vh;
  margin: 0 auto;
  margin-bottom: 40px;
  color: black;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#journal-card-title {
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  /* text-shadow: 1px 1px 4px #E0E2DB; */
  font-size: 1.6rem;
  /* font-weight: 00; */
}

#journal-card-footer {
  background-color: rgba(255, 255, 255, 0.9);
  /* color: white; */
  margin: 0;
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#journal-card-footer > p {
  margin: 0;
}

#journal-mood {
  color: rgba(0,0,0,1);
}