.bot-nav-icon {
  color: white;
  font-size: 40px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
  background-color: rgba(10, 10, 10, 0.8);
}

.navbar-links {
  margin: 0 auto;
  margin-top: 3px;
}

.navbar-bottom {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}

#home-btn:hover {
  background-color: #9EB78F;
}

#bedtime:hover {
  background-color: #c7aaff;
}

#menu-book:hover {
  background-color: #33dbd6;
}

#self-improve:hover {
  background-color: #f08080;
}