.material-icons {
  color: #a062c4;
  font-size: 40px;
}

.material-icons:hover {
  cursor: pointer;
  background-color: #861dc3;
}

.navbar-links {
  margin: 0 auto;
  margin-top: 3px;
}

.navbar-bottom {
  background-color: #3f0259 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(37, 2, 63);
  position: fixed;
  bottom: 0;
}