#add-journal-btn {
  width: 200px;
  height: 40px;
  font-size: 1.4rem;
  margin: 0 10px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 3px black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: rgba(51, 219, 213, 0.9);
  text-shadow: 1px 1px 1px black !important;
} 

#journal-list-title {
  margin-bottom: 20px;
}

#journal-card-container:last-of-type {
  padding-bottom: 60px;
  height: 100%;
}