.time {
  font-size: 3rem;
  padding: 1rem;
  text-shadow: 2px 2px 4px black !important;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
  cursor: pointer;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.start-timer-btn {
  width: 100px;
  height: 40px;
  font-size: 1.4rem;
  margin: 0 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  box-shadow: 2px 2px 3px black;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: rgba(214, 73, 51, 0.7);
}

.reset-timer-btn {
  width: 100px;
  height: 40px;
  font-size: 1.4rem;
  margin: 0 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px black;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: rgba(88, 164, 176, 0.7);
}