#header-title-container {
  border-bottom: 1px solid white;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vw;
  background-color: rgba(10, 10, 10, 0.8);
}