.audio-control-btn {
  background: none;
  border: none;
  cursor: pointer;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.audio-player {
  max-width: 275px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px black;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  background-color: rgba(240, 128, 128, 0.9);
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 140px;
  width: 140px;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}

.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: #fff;
}

/* =========== MEDIA QUERIES (LARGE DEVICES) ========== */
@media screen AND (min-width: 1024px) {
  .audio-player {
    max-width: 400px;
    height: 400px;
  }

  .artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
  }
}

/* =========== MEDIA QUERIES (XL DEVICES) ========== */
@media screen AND (min-width: 2000px) {
  .audio-player {
    max-width: 450px;
    height: 450px;
  }

  .artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 225px;
    width: 225px;
  }

  .audio-controls .prev svg,
  .audio-controls .next svg {
    width: 40px;
    height: 40px;
  }

  .audio-controls .play svg,
  .audio-controls .pause svg {
    height: 45px;
    width: 45px;
  }

  .title {
    margin-top: 25px;
  }

  .artist {
    margin-bottom: 30px;
  }
}