body {
  margin: 0;
  font-family: "Raleway",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-image: url("../public/Solace.png");
  background-size: cover; */
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h1 {
  font-size: 5.5rem;
} */
